<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Pagina de Bienvenida</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
		<div class="page-header">
			<h1>{{ . }}</h1>
		</div>
		<div class="page-header">
			<h4>Para consultar el clima use "/CIUDAD". Por ejemplo: http://localhost:8080/Cordoba</h4>
		</div>
		</div>
		<footer class="footer">
        	<div class="container">
			<p class="text-muted">API-Clima - Curso Go - Facultad de Ciencias de la Administración UNER --- Arlettaz Gastón - Santa Cruz Julian - Schulz Marianela</p>
			</div>
    	</footer>
	</body>
</html>
